RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ app_api.php?action=$1 [QSA,L]

# 禁止访问 .env 和敏感文件
<FilesMatch "\.(env|sql|md|lock)$">
    Deny from all
</FilesMatch>
